In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/EDA/data0712/youtube_0717.csv",lineterminator='\n')

In [ ]:
df_unique = pd.read_csv("/content/drive/MyDrive/EDA/data0712/youtube_unique_0717.csv",lineterminator='\n')

In [ ]:
df_unique['trending_date'].unique()

array(['2020-08-18 00:00:00', '2020-08-16 00:00:00',
       '2020-08-19 00:00:00', '2020-08-17 00:00:00',
       '2020-08-13 00:00:00', '2020-08-12 00:00:00',
       '2020-08-15 00:00:00', '2020-08-14 00:00:00',
       '2020-08-21 00:00:00', '2020-08-20 00:00:00',
       '2020-08-22 00:00:00', '2020-08-23 00:00:00',
       '2020-08-25 00:00:00', '2020-08-24 00:00:00',
       '2020-08-26 00:00:00', '2020-08-27 00:00:00',
       '2020-08-31 00:00:00', '2020-08-28 00:00:00',
       '2020-08-29 00:00:00', '2020-08-30 00:00:00',
       '2020-09-02 00:00:00', '2020-09-01 00:00:00',
       '2020-09-03 00:00:00', '2020-09-05 00:00:00',
       '2020-09-04 00:00:00', '2020-09-09 00:00:00',
       '2020-09-06 00:00:00', '2020-09-07 00:00:00',
       '2020-09-11 00:00:00', '2020-09-08 00:00:00',
       '2020-09-12 00:00:00', '2020-09-10 00:00:00',
       '2020-09-13 00:00:00', '2020-09-15 00:00:00',
       '2020-09-14 00:00:00', '2020-09-16 00:00:00',
       '2020-09-18 00:00:00', '2020-09-17 00:00:00',
       '2020-09-19 00:00:00', '2020-09-20 00:00:00',
       '2020-09-21 00:00:00', '2020-09-22 00:00:00',
       '2020-09-24 00:00:00', '2020-09-30 00:00:00',
       '2020-09-23 00:00:00', '2020-10-01 00:00:00',
       '2020-09-29 00:00:00', '2020-09-27 00:00:00',
       '2020-10-03 00:00:00', '2020-10-02 00:00:00',
       '2020-09-25 00:00:00', '2020-09-26 00:00:00',
       '2020-10-05 00:00:00', '2020-10-07 00:00:00',
       '2020-10-04 00:00:00', '2020-10-06 00:00:00',
       '2020-10-08 00:00:00', '2020-10-09 00:00:00',
       '2020-10-10 00:00:00', '2020-10-11 00:00:00',
       '2020-10-13 00:00:00', '2020-10-12 00:00:00',
       '2020-10-16 00:00:00', '2020-10-14 00:00:00',
       '2020-10-15 00:00:00', '2020-10-17 00:00:00',
       '2020-10-18 00:00:00', '2020-10-19 00:00:00',
       '2020-10-22 00:00:00', '2020-10-21 00:00:00',
       '2020-10-23 00:00:00', '2020-10-20 00:00:00',
       '2020-10-25 00:00:00', '2020-10-24 00:00:00',
       '2020-10-26 00:00:00', '2020-10-27 00:00:00',
       '2020-10-29 00:00:00', '2020-11-01 00:00:00',
       '2020-10-31 00:00:00', '2020-10-30 00:00:00',
       '2020-11-02 00:00:00', '2020-11-04 00:00:00',
       '2020-11-06 00:00:00', '2020-11-05 00:00:00',
       '2020-11-07 00:00:00', '2020-11-08 00:00:00',
       '2020-11-10 00:00:00', '2020-11-09 00:00:00',
       '2020-11-12 00:00:00', '2020-11-11 00:00:00',
       '2020-11-15 00:00:00', '2020-11-14 00:00:00',
       '2020-11-13 00:00:00', '2020-11-17 00:00:00',
       '2020-11-16 00:00:00', '2020-11-18 00:00:00',
       '2020-11-19 00:00:00', '2020-11-20 00:00:00',
       '2020-11-21 00:00:00', '2020-11-23 00:00:00',
       '2020-11-24 00:00:00', '2020-11-25 00:00:00',
       '2020-11-26 00:00:00', '2020-11-28 00:00:00',
       '2020-12-01 00:00:00', '2020-11-29 00:00:00',
       '2020-11-27 00:00:00', '2020-11-30 00:00:00',
       '2020-12-02 00:00:00', '2020-12-03 00:00:00',
       '2020-12-05 00:00:00', '2020-12-04 00:00:00',
       '2020-12-12 00:00:00', '2020-12-11 00:00:00',
       '2020-12-07 00:00:00', '2020-12-10 00:00:00',
       '2020-12-08 00:00:00', '2020-12-09 00:00:00',
       '2020-12-13 00:00:00', '2020-12-14 00:00:00',
       '2020-12-15 00:00:00', '2020-12-16 00:00:00',
       '2020-12-17 00:00:00', '2020-12-18 00:00:00',
       '2020-12-19 00:00:00', '2020-12-21 00:00:00',
       '2020-12-20 00:00:00', '2020-12-22 00:00:00',
       '2020-12-24 00:00:00', '2020-12-25 00:00:00',
       '2020-12-23 00:00:00', '2020-12-26 00:00:00',
       '2020-12-27 00:00:00', '2020-12-28 00:00:00',
       '2020-12-29 00:00:00', '2020-12-31 00:00:00',
       '2021-01-01 00:00:00', '2021-01-03 00:00:00',
       '2021-01-05 00:00:00', '2021-01-02 00:00:00',
       '2021-01-04 00:00:00', '2021-01-06 00:00:00',
       '2021-01-07 00:00:00', '2021-01-08 00:00:00',
       '2021-01-09 00:00:00', '2021-01-11 00:00:00',
       '2021-01-10 00:00:00', '2021-01-12 00:00:00',
       '2021-01-13 00:00:00', '2021-01-14 00:00:00',
       '2021-01-15 00:00:00', '2021-01-17 00:00:00',
       '2021-01-16 00:00:00', '2021-01-18 00:00:00',
       '2021-01-19 00:00:00', '2021-01-20 00:00:00',
       '2021-01-21 00:00:00', '2021-01-23 00:00:00',
       '2021-01-22 00:00:00', '2021-01-24 00:00:00',
       '2021-01-26 00:00:00', '2021-01-25 00:00:00',
       '2021-01-29 00:00:00', '2021-01-28 00:00:00',
       '2021-01-27 00:00:00', '2021-01-30 00:00:00',
       '2021-01-31 00:00:00', '2021-02-02 00:00:00',
       '2021-02-05 00:00:00', '2021-02-01 00:00:00',
       '2021-02-03 00:00:00', '2021-02-04 00:00:00',
       '2021-02-08 00:00:00', '2021-02-07 00:00:00',
       '2021-02-06 00:00:00', '2021-02-09 00:00:00',
       '2021-02-12 00:00:00', '2021-02-11 00:00:00',
       '2021-02-13 00:00:00', '2021-02-10 00:00:00',
       '2021-02-14 00:00:00', '2021-02-17 00:00:00',
       '2021-02-15 00:00:00', '2021-02-16 00:00:00',
       '2021-02-18 00:00:00', '2021-02-20 00:00:00',
       '2021-02-19 00:00:00', '2021-02-21 00:00:00',
       '2021-02-22 00:00:00', '2021-02-26 00:00:00',
       '2021-02-24 00:00:00', '2021-02-25 00:00:00',
       '2021-02-27 00:00:00', '2021-03-01 00:00:00',
       '2021-03-02 00:00:00', '2021-03-03 00:00:00',
       '2021-03-06 00:00:00', '2021-03-07 00:00:00',
       '2021-03-04 00:00:00', '2021-03-05 00:00:00',
       '2021-03-10 00:00:00', '2021-03-09 00:00:00',
       '2021-03-08 00:00:00', '2021-03-13 00:00:00',
       '2021-03-12 00:00:00', '2021-03-14 00:00:00',
       '2021-03-11 00:00:00', '2021-03-15 00:00:00',
       '2021-03-16 00:00:00', '2021-03-17 00:00:00',
       '2021-03-18 00:00:00', '2021-03-19 00:00:00',
       '2021-03-22 00:00:00', '2021-03-20 00:00:00',
       '2021-03-24 00:00:00', '2021-03-25 00:00:00',
       '2021-03-23 00:00:00', '2021-03-21 00:00:00',
       '2021-03-26 00:00:00', '2021-03-27 00:00:00',
       '2021-03-30 00:00:00', '2021-03-28 00:00:00',
       '2021-03-31 00:00:00', '2021-03-29 00:00:00',
       '2021-04-01 00:00:00', '2021-04-02 00:00:00',
       '2021-04-03 00:00:00', '2021-04-06 00:00:00',
       '2021-04-04 00:00:00', '2021-04-07 00:00:00',
       '2021-04-05 00:00:00', '2021-04-08 00:00:00',
       '2021-04-09 00:00:00', '2021-04-14 00:00:00',
       '2021-04-12 00:00:00', '2021-04-10 00:00:00',
       '2021-04-11 00:00:00', '2021-04-13 00:00:00',
       '2021-04-15 00:00:00', '2021-04-17 00:00:00',
       '2021-04-16 00:00:00', '2021-04-19 00:00:00',
       '2021-04-18 00:00:00', '2021-04-20 00:00:00',
       '2021-04-21 00:00:00', '2021-04-22 00:00:00',
       '2021-04-24 00:00:00', '2021-04-23 00:00:00',
       '2021-04-25 00:00:00', '2021-04-26 00:00:00',
       '2021-04-29 00:00:00', '2021-04-27 00:00:00',
       '2021-04-28 00:00:00', '2021-05-01 00:00:00',
       '2021-04-30 00:00:00', '2021-05-03 00:00:00',
       '2021-05-02 00:00:00', '2021-05-04 00:00:00',
       '2021-05-05 00:00:00', '2021-05-06 00:00:00',
       '2021-05-07 00:00:00', '2021-05-08 00:00:00',
       '2021-05-09 00:00:00', '2021-05-11 00:00:00',
       '2021-05-10 00:00:00', '2021-05-14 00:00:00',
       '2021-05-12 00:00:00', '2021-05-16 00:00:00',
       '2021-05-15 00:00:00', '2021-05-13 00:00:00',
       '2021-05-17 00:00:00', '2021-05-18 00:00:00',
       '2021-05-19 00:00:00', '2021-05-20 00:00:00',
       '2021-05-23 00:00:00', '2021-05-22 00:00:00',
       '2021-05-21 00:00:00', '2021-05-30 00:00:00',
       '2021-05-31 00:00:00', '2021-06-02 00:00:00',
       '2021-06-01 00:00:00', '2021-06-04 00:00:00',
       '2021-06-09 00:00:00', '2021-06-10 00:00:00',
       '2021-06-08 00:00:00', '2021-06-06 00:00:00',
       '2021-06-07 00:00:00', '2021-06-05 00:00:00',
       '2021-06-03 00:00:00', '2021-06-11 00:00:00',
       '2021-06-12 00:00:00', '2021-06-13 00:00:00',
       '2021-06-14 00:00:00', '2021-06-16 00:00:00',
       '2021-06-15 00:00:00', '2021-06-17 00:00:00',
       '2021-06-19 00:00:00', '2021-06-20 00:00:00',
       '2021-06-22 00:00:00', '2021-06-21 00:00:00',
       '2021-06-24 00:00:00', '2021-06-23 00:00:00',
       '2021-06-25 00:00:00', '2021-06-29 00:00:00',
       '2021-06-30 00:00:00', '2021-06-28 00:00:00',
       '2021-06-27 00:00:00', '2021-07-01 00:00:00',
       '2021-07-02 00:00:00', '2021-07-04 00:00:00',
       '2021-07-03 00:00:00', '2021-07-05 00:00:00',
       '2021-07-06 00:00:00', '2021-07-07 00:00:00',
       '2021-07-09 00:00:00', '2021-07-08 00:00:00',
       '2021-07-10 00:00:00', '2021-07-12 00:00:00',
       '2021-07-11 00:00:00', '2021-07-13 00:00:00',
       '2021-07-14 00:00:00', '2021-07-16 00:00:00',
       '2021-07-15 00:00:00', '2021-07-18 00:00:00',
       '2021-07-20 00:00:00', '2021-07-21 00:00:00',
       '2021-07-17 00:00:00', '2021-07-24 00:00:00',
       '2021-07-22 00:00:00', '2021-07-19 00:00:00',
       '2021-07-23 00:00:00', '2021-07-26 00:00:00',
       '2021-07-27 00:00:00', '2021-07-29 00:00:00',
       '2021-07-25 00:00:00', '2021-07-28 00:00:00',
       '2021-07-31 00:00:00', '2021-07-30 00:00:00',
       '2021-08-02 00:00:00', '2021-08-01 00:00:00',
       '2021-08-03 00:00:00', '2021-08-04 00:00:00',
       '2021-08-05 00:00:00', '2021-08-06 00:00:00',
       '2021-08-07 00:00:00', '2021-08-08 00:00:00',
       '2021-08-09 00:00:00', '2021-08-11 00:00:00',
       '2021-08-10 00:00:00', '2021-08-12 00:00:00',
       '2021-08-15 00:00:00', '2021-08-13 00:00:00',
       '2021-08-14 00:00:00', '2021-08-16 00:00:00',
       '2021-08-17 00:00:00', '2021-08-19 00:00:00',
       '2021-08-20 00:00:00', '2021-08-18 00:00:00',
       '2021-08-22 00:00:00', '2021-08-23 00:00:00',
       '2021-08-21 00:00:00', '2021-08-24 00:00:00',
       '2021-08-26 00:00:00', '2021-08-25 00:00:00',
       '2021-08-27 00:00:00', '2021-08-29 00:00:00',
       '2021-08-28 00:00:00', '2021-08-30 00:00:00',
       '2021-09-01 00:00:00', '2021-08-31 00:00:00',
       '2021-09-02 00:00:00', '2021-09-05 00:00:00',
       '2021-09-04 00:00:00', '2021-09-03 00:00:00',
       '2021-09-06 00:00:00', '2021-09-07 00:00:00',
       '2021-09-09 00:00:00', '2021-09-08 00:00:00',
       '2021-09-10 00:00:00', '2021-09-11 00:00:00',
       '2021-09-13 00:00:00', '2021-09-12 00:00:00',
       '2021-09-15 00:00:00', '2021-09-14 00:00:00',
       '2021-09-16 00:00:00', '2021-09-17 00:00:00',
       '2021-09-18 00:00:00', '2021-09-22 00:00:00',
       '2021-09-20 00:00:00', '2021-09-19 00:00:00',
       '2021-09-21 00:00:00', '2021-09-23 00:00:00',
       '2021-09-24 00:00:00', '2021-09-26 00:00:00',
       '2021-09-25 00:00:00', '2021-09-27 00:00:00',
       '2021-09-28 00:00:00', '2021-09-29 00:00:00',
       '2021-09-30 00:00:00', '2021-10-01 00:00:00',
       '2021-10-03 00:00:00', '2021-10-02 00:00:00',
       '2021-10-05 00:00:00', '2021-10-06 00:00:00',
       '2021-10-04 00:00:00', '2021-10-07 00:00:00',
       '2021-10-08 00:00:00', '2021-10-09 00:00:00',
       '2021-10-10 00:00:00', '2021-10-12 00:00:00',
       '2021-10-14 00:00:00', '2021-10-13 00:00:00',
       '2021-10-11 00:00:00', '2021-10-15 00:00:00',
       '2021-10-16 00:00:00', '2021-10-17 00:00:00',
       '2021-10-19 00:00:00', '2021-10-20 00:00:00',
       '2021-10-18 00:00:00', '2021-10-22 00:00:00',
       '2021-10-21 00:00:00', '2021-10-23 00:00:00',
       '2021-10-25 00:00:00', '2021-10-26 00:00:00',
       '2021-10-24 00:00:00', '2021-10-27 00:00:00',
       '2021-10-28 00:00:00', '2021-10-29 00:00:00',
       '2021-10-31 00:00:00', '2021-10-30 00:00:00',
       '2021-11-01 00:00:00', '2021-11-03 00:00:00',
       '2021-11-02 00:00:00', '2021-11-06 00:00:00',
       '2021-11-05 00:00:00', '2021-11-04 00:00:00',
       '2021-11-07 00:00:00', '2021-11-09 00:00:00',
       '2021-11-08 00:00:00', '2021-11-10 00:00:00',
       '2021-11-11 00:00:00', '2021-11-12 00:00:00',
       '2021-11-13 00:00:00', '2021-11-14 00:00:00',
       '2021-11-16 00:00:00', '2021-11-17 00:00:00',
       '2021-11-15 00:00:00', '2021-11-19 00:00:00',
       '2021-11-20 00:00:00', '2021-11-18 00:00:00',
       '2021-11-21 00:00:00', '2021-11-23 00:00:00',
       '2021-11-22 00:00:00', '2021-11-25 00:00:00',
       '2021-11-27 00:00:00', '2021-11-24 00:00:00',
       '2021-11-26 00:00:00', '2021-11-29 00:00:00',
       '2021-11-30 00:00:00', '2021-12-01 00:00:00',
       '2021-12-03 00:00:00', '2021-12-05 00:00:00',
       '2021-12-02 00:00:00', '2021-12-06 00:00:00',
       '2021-12-07 00:00:00', '2021-12-08 00:00:00',
       '2021-12-09 00:00:00', '2021-12-11 00:00:00',
       '2021-12-12 00:00:00', '2021-12-13 00:00:00',
       '2021-12-10 00:00:00', '2021-12-15 00:00:00',
       '2021-12-17 00:00:00', '2021-12-14 00:00:00',
       '2021-12-16 00:00:00', '2021-12-18 00:00:00',
       '2021-12-19 00:00:00', '2021-12-20 00:00:00',
       '2021-12-21 00:00:00', '2021-12-25 00:00:00',
       '2021-12-24 00:00:00', '2021-12-22 00:00:00',
       '2021-12-23 00:00:00', '2021-12-26 00:00:00',
       '2021-12-28 00:00:00', '2021-12-29 00:00:00',
       '2021-12-30 00:00:00', '2022-01-03 00:00:00',
       '2022-01-01 00:00:00', '2022-01-02 00:00:00',
       '2022-01-04 00:00:00', '2021-12-31 00:00:00',
       '2021-12-27 00:00:00', '2022-01-05 00:00:00',
       '2022-01-06 00:00:00', '2022-01-09 00:00:00',
       '2022-01-08 00:00:00', '2022-01-07 00:00:00',
       '2022-01-10 00:00:00', '2022-01-11 00:00:00',
       '2022-01-12 00:00:00', '2022-01-14 00:00:00',
       '2022-01-13 00:00:00', '2022-01-16 00:00:00',
       '2022-01-15 00:00:00', '2022-01-18 00:00:00',
       '2022-01-17 00:00:00', '2022-01-21 00:00:00',
       '2022-01-19 00:00:00', '2022-01-20 00:00:00',
       '2022-01-23 00:00:00', '2022-01-22 00:00:00',
       '2022-01-24 00:00:00', '2022-01-25 00:00:00',
       '2022-01-26 00:00:00', '2022-01-27 00:00:00',
       '2022-01-28 00:00:00', '2022-01-29 00:00:00',
       '2022-01-30 00:00:00', '2022-01-31 00:00:00',
       '2022-02-01 00:00:00', '2022-02-03 00:00:00',
       '2022-02-02 00:00:00', '2022-02-04 00:00:00',
       '2022-02-05 00:00:00', '2022-02-06 00:00:00',
       '2022-02-08 00:00:00', '2022-02-07 00:00:00',
       '2022-02-11 00:00:00', '2022-02-10 00:00:00',
       '2022-02-09 00:00:00', '2022-02-13 00:00:00',
       '2022-02-12 00:00:00', '2022-02-15 00:00:00',
       '2022-02-14 00:00:00', '2022-02-16 00:00:00',
       '2022-02-17 00:00:00', '2022-02-20 00:00:00',
       '2022-02-18 00:00:00', '2022-02-22 00:00:00',
       '2022-02-19 00:00:00', '2022-02-21 00:00:00',
       '2022-02-23 00:00:00', '2022-02-24 00:00:00',
       '2022-02-26 00:00:00', '2022-02-25 00:00:00',
       '2022-02-27 00:00:00', '2022-03-01 00:00:00',
       '2022-02-28 00:00:00', '2022-03-02 00:00:00',
       '2022-03-06 00:00:00', '2022-03-04 00:00:00',
       '2022-03-03 00:00:00', '2022-03-05 00:00:00',
       '2022-03-07 00:00:00', '2022-03-08 00:00:00',
       '2022-03-09 00:00:00', '2022-03-12 00:00:00',
       '2022-03-13 00:00:00', '2022-03-10 00:00:00',
       '2022-03-11 00:00:00', '2022-03-15 00:00:00',
       '2022-03-14 00:00:00', '2022-03-16 00:00:00',
       '2022-03-17 00:00:00', '2022-03-18 00:00:00',
       '2022-03-19 00:00:00', '2022-03-20 00:00:00',
       '2022-03-21 00:00:00', '2022-03-22 00:00:00',
       '2022-03-25 00:00:00', '2022-03-24 00:00:00',
       '2022-03-23 00:00:00', '2022-03-26 00:00:00',
       '2022-03-28 00:00:00', '2022-03-27 00:00:00',
       '2022-03-29 00:00:00', '2022-03-30 00:00:00',
       '2022-03-31 00:00:00', '2022-04-03 00:00:00',
       '2022-04-02 00:00:00', '2022-04-01 00:00:00',
       '2022-04-05 00:00:00', '2022-04-04 00:00:00',
       '2022-04-06 00:00:00', '2022-04-08 00:00:00',
       '2022-04-07 00:00:00', '2022-04-09 00:00:00',
       '2022-04-10 00:00:00', '2022-04-12 00:00:00',
       '2022-04-11 00:00:00', '2022-04-14 00:00:00',
       '2022-04-17 00:00:00', '2022-04-13 00:00:00',
       '2022-04-15 00:00:00', '2022-04-16 00:00:00',
       '2022-04-19 00:00:00', '2022-04-18 00:00:00',
       '2022-04-20 00:00:00', '2022-04-21 00:00:00',
       '2022-04-24 00:00:00', '2022-04-23 00:00:00',
       '2022-04-22 00:00:00', '2022-04-25 00:00:00',
       '2022-04-27 00:00:00', '2022-04-26 00:00:00',
       '2022-04-28 00:00:00', '2022-04-29 00:00:00',
       '2022-04-30 00:00:00', '2022-05-03 00:00:00',
       '2022-05-04 00:00:00', '2022-05-01 00:00:00',
       '2022-05-02 00:00:00', '2022-05-05 00:00:00',
       '2022-05-06 00:00:00', '2022-05-08 00:00:00',
       '2022-05-07 00:00:00', '2022-05-09 00:00:00',
       '2022-05-10 00:00:00', '2022-05-12 00:00:00',
       '2022-05-11 00:00:00', '2022-05-14 00:00:00',
       '2022-05-17 00:00:00', '2022-05-15 00:00:00',
       '2022-05-18 00:00:00', '2022-05-13 00:00:00',
       '2022-05-16 00:00:00', '2022-05-20 00:00:00',
       '2022-05-19 00:00:00', '2022-05-21 00:00:00',
       '2022-05-23 00:00:00', '2022-05-22 00:00:00',
       '2022-05-24 00:00:00', '2022-05-25 00:00:00',
       '2022-05-26 00:00:00', '2022-05-27 00:00:00',
       '2022-05-28 00:00:00', '2022-05-29 00:00:00',
       '2022-05-30 00:00:00', '2022-05-31 00:00:00',
       '2022-06-01 00:00:00', '2022-06-02 00:00:00',
       '2022-06-03 00:00:00', '2022-06-05 00:00:00',
       '2022-06-04 00:00:00', '2022-06-07 00:00:00',
       '2022-06-06 00:00:00', '2022-06-08 00:00:00',
       '2022-06-10 00:00:00', '2022-06-09 00:00:00',
       '2022-06-11 00:00:00', '2022-06-12 00:00:00',
       '2022-06-13 00:00:00', '2022-06-16 00:00:00',
       '2022-06-15 00:00:00', '2022-06-14 00:00:00',
       '2022-06-18 00:00:00', '2022-06-19 00:00:00',
       '2022-06-17 00:00:00', '2022-06-23 00:00:00',
       '2022-06-22 00:00:00', '2022-06-20 00:00:00',
       '2022-06-24 00:00:00', '2022-06-21 00:00:00',
       '2022-06-25 00:00:00', '2022-06-26 00:00:00',
       '2022-06-27 00:00:00', '2022-06-28 00:00:00',
       '2022-06-29 00:00:00', '2022-06-30 00:00:00',
       '2022-07-01 00:00:00', '2022-07-03 00:00:00',
       '2022-07-02 00:00:00', '2022-07-04 00:00:00',
       '2022-07-05 00:00:00', '2022-07-09 00:00:00',
       '2022-07-10 00:00:00', '2022-07-08 00:00:00',
       '2022-07-07 00:00:00', '2022-07-06 00:00:00',
       '2022-07-11 00:00:00'], dtype=object)

In [ ]:
len(df[df['trending_date']=='2021-05-31 00:00:00']['title'].unique())

233

In [ ]:
df[df['trending_date']=='2021-05-31 00:00:00']
#[20/21 UCL 결승] 맨시티 vs 첼시 H/L

In [ ]:
df[df['title']=='[20/21 UCL 결승] 맨시티 vs 첼시 H/L']
# 일단 맨 처음 것은 200개 간격으로 존재한다는 것 확인

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
53341,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-05-31 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1195225,12256,367,5858,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
53541,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-05-31 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1443948,13644,454,6293,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
53743,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-01 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1586588,14314,489,6445,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
53944,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-01 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1655540,14612,503,6508,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
54149,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-02 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1696136,14776,489,6555,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
54349,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-02 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1723271,14913,496,6598,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
54556,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-03 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1741871,14981,495,6625,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
54763,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-03 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1762560,15049,500,6655,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
54968,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-04 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1776482,15100,501,6693,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
55593,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-05 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1806403,15205,512,6729,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
55793,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-06 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1812075,15222,515,6737,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
56004,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-06 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1819260,15254,521,6738,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
56213,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-07 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1823745,15274,522,6729,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
56449,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-07 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1829569,15296,524,6729,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
56650,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-08 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1833009,15307,524,6735,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
56873,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-08 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1837485,15332,526,6747,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
57072,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-09 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1840562,15349,526,6754,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
57289,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-09 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1845215,15363,530,6757,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
57486,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-10 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1847906,15367,530,6757,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
57725,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-10 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1852047,15388,534,6763,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
57924,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-06-11 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1855031,15394,533,6771,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17

In [ ]:
# video_id를 출력하여 어떻게 다른지 직접 확인 (왜 unique는 233인가?에 대한 질문이었음)
df.iloc[53341:53541]['video_id'].reset_index().drop('index', axis=1)

        video_id
0    q5KDJqPqzP8
1    prdGLBNqATk
2    mYITh9E43s8
3    YLXfyHsfFz0
4    8b9WiId0gMw
..           ...
195  qRLzhfK1PBY
196  jTL5ePrPt3Q
197  jj1xRMYS9LM
198  Ynj77OuV2NI
199  4TWR90KJl84

[200 rows x 1 columns]

In [ ]:
df.iloc[53541:53741]['video_id'].reset_index().drop('index', axis=1)
# 그냥 다른 시간에 크롤링해서 인기 동영상 리스트 자체가 달라진듯함...

        video_id
0    q5KDJqPqzP8
1    DbXMjAYSa68
2    prdGLBNqATk
3    mYITh9E43s8
4    YuIy2H_w9xM
..           ...
195  vNuSzO1QDzM
196  KWmyRmqTsMI
197  KxMAC7maPU8
198  oL0AgIwFg3w
199  3fworaGK4XY

[200 rows x 1 columns]

In [ ]:
len(df[df['trending_date']=='2021-05-31 00:00:00']['video_id'])

400

In [ ]:
sum(df.groupby('trending_date')['video_id'].count()!=200)

86

In [ ]:
# 잘 생각을 해보자........ video_id로 groupby를 하고
# trending date의 개수가 몇 개인지 확인하고, 그게 len이랑 같은지 확인하면 되려나???
count = df.groupby('video_id')['trending_date'].count()
count

video_id
--8IwTcvN98     9
--FmExEAsM8     9
--MvOWR16L8     7
--ixRiohjh4     2
-0_dMt3rXuw    10
               ..
zz756f0D4oA     6
zzOJpuQ-TvQ    10
zzQqZp5JKSg     7
zzk09ESX7e0    13
zztGoiavb5c    11
Name: trending_date, Length: 16928, dtype: int64

In [ ]:
unique = df.groupby('video_id')['trending_date'].nunique()
unique

video_id
--8IwTcvN98     9
--FmExEAsM8     9
--MvOWR16L8     7
--ixRiohjh4     2
-0_dMt3rXuw    10
               ..
zz756f0D4oA     6
zzOJpuQ-TvQ    10
zzQqZp5JKSg     7
zzk09ESX7e0     8
zztGoiavb5c    11
Name: trending_date, Length: 16928, dtype: int64

In [ ]:
count == unique

video_id
--8IwTcvN98     True
--FmExEAsM8     True
--MvOWR16L8     True
--ixRiohjh4     True
-0_dMt3rXuw     True
               ...
zz756f0D4oA     True
zzOJpuQ-TvQ     True
zzQqZp5JKSg     True
zzk09ESX7e0    False
zztGoiavb5c     True
Name: trending_date, Length: 16928, dtype: bool

video_id
-5ipv0Cx91Q    11
-7ZK2YbcAIA     8
-8e7Dyl8_-E    11
-9B1lQ7TeNE     8
-I_KXMeoCO8     5
               ..
zU5szy7B-i8    16
zqMGLxwbhFo    20
zsVdWF4JYAk    16
zuMySGB0LfM     7
zzk09ESX7e0    13
Name: trending_date, Length: 955, dtype: int64

In [ ]:
df[df['trending_date']=='2021-05-21 00:00:00']

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
52541,jTL5ePrPt3Q,[#유퀴즈온더블럭] 솔직함 가득한 10준수 때문에 뒷목잡는 이종혁ㅋㅋ🌈 준수 너무 ...,2021-05-20 06:41:00,UCsRIHt5FkbGc6cQtCxt-ufA,tvN D ENT,2021-05-21 00:00:00,10준수|10준수 유튜브|Diggle|You Quiz on the block|tvN...,1640484,21815,333,2602,False,False,"#유퀴즈온더블럭 #Diggle #디글 Let's giggle, :Diggle!구독하...",Entertainment,44
52542,Gugut8Tkn0o,생) 이렇게 된 이상 저도 해명할게요,2021-05-18 14:16:47,UCDV9zgWo7b6nPg7i49oRQ5Q,논리왕 전기,2021-05-21 00:00:00,#전기 #유튜브 #생방송 #이슈 #컨텐츠 #캠방송 #수다 #토크온 #캠방송 #롤 #...,4226533,100258,954,31074,False,False,국민 938002 00 677848 김건호https://toon.at/donate/...,People & Blogs,1
52543,PyLvoaxUNEw,천재 바이올리니스트 '유진박'의 놀라운 근황.. 조울증 약도 계속 복용 [특종세상]...,2021-05-20 09:00:06,UCYyLIlOJyqkAFKlVjzX5img,MBN Entertainment,2021-05-21 00:00:00,유진박|바이올리니스트|특종세상|MBN|매니저|폭행,827463,9506,303,1217,False,False,힘들었던 과거를 딛고 화려한 비상을 꿈꾸는 유진박씨를 응원합니다!MBN 현장르포 특...,Entertainment,6
52544,z58k37I4Crs,aespa 에스파 'Next Level' The Performance Stage #1,2021-05-20 09:00:35,UC9GtSLeksfK4yuJ_g1lgQbg,aespa,2021-05-21 00:00:00,aespa|에스파,4990234,423328,9098,19239,False,False,🎧aespa's new single Next Level is out!Listen a...,Music,2
52545,jz_Jozym5DM,머니게임의 진실,2021-05-18 19:53:40,UCUXYT0CqvBx1ZysmxSW7EDQ,공혁준 RHDGURWNS,2021-05-21 00:00:00,[None],2589007,53194,654,10014,False,False,NaN,Entertainment,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52736,6E2R42HRRBk,"[긴급진단] 삼성전자 '7만전자' 설마 이대로 2년 각? / 카카오의 배신, 국민주...",2021-05-13 06:40:05,UCnfwIKyFYRuqZzzKBDt6JOA,매일경제TV,2021-05-21 00:00:00,매일경제|매일경제TV|주식투자|부동산|재테크|삼성전자|카카오|삼성SDI|SK이노베이...,171471,1993,104,249,False,False,"[긴급진단] 삼성전자 '7만전자' 설마 이대로 2년 각? / 카카오의 배신, 국민주...",News & Politics,12
52737,gmYgM6kmaT0,EP.159🚀 곡명 듣자마자 받쓰 시작한 밀당천재 류진? 붐청이 “..그만 부르세요...,2021-05-10 13:00:15,UCTnafh2iyIWh7MhcGBmGU0g,놀라운 토요일 Amazing Saturday,2021-05-21 00:00:00,1차 성공|Amazing Saturday|BTS|Block B|Diggle|Dore...,1097514,12237,214,825,False,False,제일 빠르게 만나는 #도레미가족_로켓플레이 🚀❤ 사랑아 놀토해 🧡도레미와 함께하는 ...,Entertainment,70
52738,Nv7IkL48Iv8,복싱 세계챔피언의 복부때리는 방법 근데 상대가..?!,2021-05-14 10:00:09,UCKxLXXUTY6bt9Dxuu-pJ4Yw,양감독 TV,2021-05-21 00:00:00,복싱|권투|세계챔피언|지인진|보디|보디Ko|바디|바디 KO|이상수|이상수 관장|이상...,662277,6553,139,824,False,False,복싱 세계 챔피언의 보디KO 시키는법 근데 상대가..?!또다시 벌어진 창과 방패...,Entertainment,17
52739,FHgiOvz6aUQ,영국에서 난리난 한국치킨을 먹으려고 드디어 재회한 영국쌍둥이!! (신부님+소령님),2021-05-12 13:59:26,UCg-p3lQIqmhh7gHpyaOmOiQ,영국남자 Korean Englishman,2021-05-21 00:00:00,Korean|영국남자|영국|조쉬|올리|Josh|Ollie|KoreanEnglish|...,1027722,65807,1570,5451,False,False,영상의 모든 출연진을 포함한 스태프 전원은 촬영 이전 코로나19 음성 확진을 받았습...,Comedy,36
52740,c-gSh0jsY-I,일반인의 너클볼이 정말 프로에서 통할까?! 감탄한 봉중근 ㄷㄷ,2021-05-12 12:01:13,UC2emKV0kcPDKNl9EtDm4Ubg,프로동네야구 PDB,2021-05-21 00:00:00,[None],587435,2151,97,411,False,False,마카오는 킹정이지! 가즈아 마카오!! #봉중근안치용 대표님! 그리고 봉중근 인스트럭...,Sports,0

In [ ]:
df[df['trending_date']=='2021-05-30 00:00:00']

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
53141,prdGLBNqATk,[라디오스타] 싱크로율 100% 완벽 카피 성대모사 장인! 쓰복만의 1인 n역 성대...,2021-05-28 04:00:30,UCiwQRG2sCcfjKkgxMEdJGPg,엠뚜루마뚜루 : MBC 공식 종합 채널,2021-05-30 00:00:00,쓰복만|성대모사|복만쓰|펜트하우스|주단태|하은별|스카이캐슬|부부의세계|김국진|김구라...,3605327,49780,1133,4397,False,False,[라디오스타] 수요일 밤 10시 30분 방송!MBC의 따끈따끈한 영상을 내 맘대로 ...,Entertainment,22
53142,YLXfyHsfFz0,BTS (방탄소년단) 'Butter' Official MV (Hotter Remix),2021-05-28 04:00:02,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,2021-05-30 00:00:00,BIGHIT|빅히트|방탄소년단|BTS|BANGTAN|방탄,31238931,4731058,26273,308598,False,False,BTS (방탄소년단) 'Butter' Official MV (Hotter Remix...,Music,6
53143,SqIBCdGNj0g,밤낮으로 우리집 비번 눌러대는 길고양이 좀 어떻게 해주세요ㅣStray Cat Ent...,2021-05-28 23:00:07,UC22go5LdQEw-iDuxFb4C0hw,SBS TV동물농장x애니멀봐,2021-05-30 00:00:00,애니멀봐|동물농장|TV동물농장|동물농장 애니멀봐|애니멀봐 동물농장|sbs anima...,1571935,38145,365,4295,False,False,"하루에 4번 창문을 넘고 8번 비번을 누르고, 85번의 들어올 기회를 엿보는 길고양...",Pets & Animals,35
53144,Cz1Iw2sTOCc,로또 1등 당첨자 농협 갔더니…비밀번호 불러달라 (2021.05.27/뉴스데스크/MBC),2021-05-27 11:35:50,UCF4Wxdo3inmxP-Y59wXDsFw,MBCNEWS,2021-05-30 00:00:00,MBC|MBC뉴스|뉴스데스크|newsdesk|뉴스투데이|newstoday|8시뉴스|...,5453648,38395,1250,22306,False,False,"로또 1등에 당첨이 되면, 농협 은행 본점에 가서 당첨 금을 받게 되는데요. 그런데...",News & Politics,14
53145,98cQDd6GQ-Q,[선공개] '제자리 점프'로 림 터치 성공한 윤성빈에 학교부심(?) 폭발한 안정환🤣...,2021-05-30 00:14:17,UCFL1sCAksD6_7JIZwwHcwjQ,JTBC Entertainment,2021-05-30 00:00:00,농구|이동국|안정환|허재|현주엽|뭉쳐야 쏜다|김용만|김성주|김기훈|여홍철|윤동식|방...,395042,2135,69,718,False,False,[선공개] '제자리 점프'로 림 터치 성공한 윤성빈에 학교부심(?) 폭발한 안정환🤣...,Entertainment,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53336,f69hjcG-G_s,Fried Chicken 와플기계로 뿌링클 치킨 누르기 #Shorts,2021-05-22 14:34:34,UCBTytrss5jCEx7rUH4XiDpQ,Yummy Waffle 야미와플,2021-05-30 00:00:00,[None],505858,6741,358,798,False,False,This is what happens when you put Korean Fried...,Howto & Style,0
53337,oSk3grR0tAQ,"Next Level 칼군무, 매력 터지는 에스파(aespa) (ft. 큐시 섹시, ...",2021-05-19 10:06:40,UCbVRtqsTmYh1xhrDSTfSQLg,KBS CoolFM,2021-05-30 00:00:00,KBS|KBS CoolFM|강한나의 볼륨을 높여요|한디|강한나|강한나 볼륨|볼륨을 ...,847604,29037,586,790,False,False,2021.05.18_KBS Cool FM 89.1MHz 매일 20:00~22:00강...,Entertainment,40
53338,REHWZP9FEEo,[메가쌤 짤 - 수학 현우진T] 항상 극 상위권이었던 그의 이야기..,2021-05-19 08:00:05,UCma37fJBlF718VRgGlx4yGA,theMEGASTUDY,2021-05-30 00:00:00,메가스터디,737886,9009,221,928,False,False,믿고 보는 메가쌤짤! 몰아보다 보면 어느새 시간 순삭⏰#메가스터디​ #수학현우진​ ...,Education,1
53339,7lSjdNfTHyk,[요약] 빌런 전문 맛집 모범택시의 최종 빌런 차지연의 소름돋는 연기 ㄷㄷ #모범택...,2021-05-21 07:30:01,UC3re3ueOE_6VZK85zlEUWFA,SBS Catch,2021-05-30 00:00:00,스브스캐치|스브스캐치 드라마|드라마 모범택시|SBS 모범택시|모범택시 1회|모범택시...,926382,4547,181,510,False,False,[스브스캐치] 구독하기▶https://goo.gl/bnT3WD[요약] 빌런 전문 맛...,Entertainment,17
53340,NITeaukh02Y,[앵콜캠4K] 엔시티 드림 '맛' 인기가요 1위 앵콜 직캠 (NCT DREAM 'H...,2021-05-23 11:30:02,UCS_hnpJLQTvBkqALgapi_4g,스브스케이팝 / SBS KPOP,2021-05-30 00:00:00,Inkigayo|인기가요직캠|안방1열직캠|엔시티드림|NCT DREAM|마크|런쥔|제...,728172,99982,168,3479,False,False,[앵콜캠4K] 엔시티 드림 '맛' 인기가요 1위 앵콜 직캠 (NCT DREAM 'H...,Entertainment,22

In [ ]:
df_trending_date = df.groupby('trending_date')['video_id','publishedAt'].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df_trending_date

                     video_id  publishedAt
trending_date
2020-08-12 00:00:00       134          134
2020-08-13 00:00:00       129          129
2020-08-14 00:00:00       131          131
2020-08-15 00:00:00       141          141
2020-08-16 00:00:00       150          150
...                       ...          ...
2022-07-07 00:00:00       200          200
2022-07-08 00:00:00       200          200
2022-07-09 00:00:00       200          200
2022-07-10 00:00:00       200          200
2022-07-11 00:00:00       200          200

[683 rows x 2 columns]

In [ ]:
df_trending_date['trending_date'] = df_trending_date.index

In [ ]:
trend_new = df_trending_date.reset_index(drop=True)

In [ ]:
trend_new

     video_id  publishedAt        trending_date
0         134          134  2020-08-12 00:00:00
1         129          129  2020-08-13 00:00:00
2         131          131  2020-08-14 00:00:00
3         141          141  2020-08-15 00:00:00
4         150          150  2020-08-16 00:00:00
..        ...          ...                  ...
678       200          200  2022-07-07 00:00:00
679       200          200  2022-07-08 00:00:00
680       200          200  2022-07-09 00:00:00
681       200          200  2022-07-10 00:00:00
682       200          200  2022-07-11 00:00:00

[683 rows x 3 columns]

In [ ]:
trend = trend_new[trend_new['video_id']>200][['trending_date','video_id']]

In [ ]:
len(trend)

20

In [ ]:
trend = trend.reset_index()

In [ ]:
trend['trending_date'][0]

'2021-02-24 00:00:00'

In [ ]:
trend

    index        trending_date  video_id
0     191  2021-02-24 00:00:00       400
1     196  2021-03-02 00:00:00       400
2     280  2021-05-31 00:00:00       400
3     281  2021-06-01 00:00:00       400
4     282  2021-06-02 00:00:00       400
5     283  2021-06-03 00:00:00       400
6     284  2021-06-04 00:00:00       400
7     285  2021-06-05 00:00:00       400
8     286  2021-06-06 00:00:00       400
9     287  2021-06-07 00:00:00       400
10    288  2021-06-08 00:00:00       400
11    289  2021-06-09 00:00:00       400
12    290  2021-06-10 00:00:00       400
13    291  2021-06-11 00:00:00       400
14    292  2021-06-12 00:00:00       400
15    293  2021-06-13 00:00:00       400
16    294  2021-06-14 00:00:00       400
17    295  2021-06-15 00:00:00       400
18    296  2021-06-16 00:00:00       400
19    297  2021-06-17 00:00:00       400

In [ ]:
t

In [ ]:
for i in range(len(trend)):
  print('%s unique한 개수와 총 개수'%trend['trending_date'][i])
  print(len(df[df['trending_date']==trend['trending_date'][i]]['video_id'].unique()))
  print(len(df[df['trending_date']==trend['trending_date'][i]]['video_id']))

In [ ]:
for i in range(len(trend)):
  print(np.where(df[df['trending_date']==trend['trending_date'][0]].groupby('video_id')['trending_date'].count()!=2))

(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)

In [ ]:
df[df['trending_date']==trend['trending_date'][0]]
# 35148	Aui0ZKIaXVc 선미 SUNMI 1872964	263732	2469	13263
# 200개 뒤에 과연 똑같은 애가 있을까?

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
35148,Aui0ZKIaXVc,선미(SUNMI) - 꼬리(TAIL) MUSIC VIDEO,2021-02-23 09:00:13,UCsVpgRB8YHLWA0ZrkhtHvTA,선미 SUNMI,2021-02-24 00:00:00,선미|sunmi|선미 노래|선미 신곡|가시나|주인공|사이렌|누아르|날라리|gashi...,1872964,263732,2469,13263,False,False,[MV] 선미(SUNMI) - 꼬리(TAIL) 뮤직비디오⠀💿 선미(SUNMI) - ...,Music,30
35149,RxqWnkFBP9Y,"아이오닉5 실제 모습, 확실하게 보여(들려)드려요...(죄송해서 후딱 만든 영상. ...",2021-02-23 10:24:45,UCT29dZNPg6exiMyMrVLL0fg,mediaAUTO 미디어오토,2021-02-24 00:00:00,장진택|자동차|영상|미디어오토|mediaAUTO|유은익|개그|코미디|진지|엄숙|CA...,243686,3322,121,670,False,False,#아이오닉5 #ioniq5 #egmp오늘 오후4시에 진행한 아이오닉5 신차공개 라이...,Autos & Vehicles,34
35150,-_attUbB6pw,SUNMI(선미) 'TAIL(꼬리)' LIVE (Media showcase),2021-02-23 09:00:14,UC6dM99DofLDsfodmxHsIh5w,Vstar,2021-02-24 00:00:00,선미꼬리|SUNMITAIL|SUNMI,547115,34906,359,1242,False,False,가수 선미가 타이틀곡 ‘꼬리 (TAIL)’로 새롭게 컴백했다. 23일 선미는 자신의...,Entertainment,3
35151,7Yq_nN43MeU,"요점 총정리! 현대 아이오닉 5 정식 공개, 포르쉐 다이얼? 가격, 주행거리, 가속...",2021-02-23 07:37:32,UCrXkDAx7w0EbfnyM7yNzmpQ,Motorian모터리언,2021-02-24 00:00:00,현대|아이오닉5|Hyundai|IONIQ5,123150,1194,55,239,False,False,"모델Y보다 작다. 제로백 5.2초, 410~430km 주행, 가격 5천만원 초 중반...",Autos & Vehicles,4
35152,bjWsqae3Fkg,"‘추신수’ 단독 인터뷰 1편, 세 가지 옵션 고민 끝에 ‘신세계’ 결심한 이유ㅣ이영...",2021-02-23 01:55:30,UCR_mdfN45coziHjgTqXu_8A,썸타임즈Ssumtimes,2021-02-24 00:00:00,추신수|신세계|추신수계약|한국프로야구|하원미|KBO|메이저리그|텍사스레인저스|KIA...,415228,5521,221,705,False,False,추신수 선수가 드디어 KBO리그 무대에 섭니다신세계(가칭) 유니폼을 입고 메이저리그...,Sports,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35543,2FqaIoVj96o,임신한 주인이 길을 잃자 진돗개가 하는 감동적인 행동,2021-02-12 07:00:00,UCicKQUi8h4NI81wDmrDBD4A,올리버쌤,2021-02-24 00:00:00,[None],1051346,34549,366,2199,False,False,[올리버쌤의 영어회화 일력 365]저와 함께 새해 영어 공부를 매일 함께 해봐요!!...,Education,0
35544,fDkcQquHuQw,[짤툰 프리미엄] 낚시,2021-02-15 09:00:11,UCszFjh7CEfwDb7UUGb4RzCQ,짤툰,2021-02-24 00:00:00,짤툰|만화|애니메이션|웹툰|병맛|더빙|병맛더빙|yt:cc=on,961813,18455,427,2872,False,False,이 만화는 무료로 웃겨줍니다![배급 : 빅픽처팀] [기획 : 비크리스피] [제작 :...,Film & Animation,8
35545,zO0JAIg1vDY,"[EP120]※돌발상황※촬영 도중 갑자기 상담자와 함께 눈물을 흘린 정호근,무슨 일...",2021-02-12 14:00:14,UCoW9qWiUvytH7ZpnYcX4dEQ,푸하하TV,2021-02-24 00:00:00,인생|무당|죽음|성적|돈벼락|신내림|무속|무속인|만신|점집|사주|사주팔자|귀신|종교...,704152,10035,265,514,False,False,#심야신당 #정호근 #성우갑자기 촬영을 멈추고 눈물을 흘린 정호근쌤!심야신당 촬영에...,Entertainment,133
35546,tXDgODuch94,(ENG)✨설특집✨ 대광어 잡다 광광 우럭따 | @수빙수tv sooBingsoo |...,2021-02-12 08:30:13,UCmbGE7Y2ov7pTBuUrkXgtTQ,할명수,2021-02-24 00:00:00,할명수|박명수|무한도전|유재석|하하|정준하|광희|JTBC|JTBC Entertain...,1304847,23203,421,1579,False,False,명-하!다들 즐거운 설 보내고 있어?Lee Sikuk이라 예전과는 다른 설 풍경이겠...,Entertainment,30
35547,ka-BjxInYws,올해 반드시 주목해야 할 주식들/염승환 부장(3부)[주식고등학교],2021-02-13 00:00:09,UCaQREsefLy-W8ruWcJ7IDtg,주식초등학교,2021-02-24 00:00:00,주식초보|주식초보 강의|주식강의 기초|주린이|주식입문|주식투자|주식초보입문|주식초보...,327136,8092,177,260,False,False,염승환 이베스트투자증권 부장(3부)*언급된 F&F는 일례로 들어드린 것입니다. (촬...,Education,111

In [ ]:
df.loc[35348]
# 1872964	263732	2469	13263

video_id                                                   Aui0ZKIaXVc
title                                 선미(SUNMI) - 꼬리(TAIL) MUSIC VIDEO
publishedAt                                        2021-02-23 09:00:13
channelId                                     UCsVpgRB8YHLWA0ZrkhtHvTA
channelTitle                                                  선미 SUNMI
trending_date                                      2021-02-24 00:00:00
tags                 선미|sunmi|선미 노래|선미 신곡|가시나|주인공|사이렌|누아르|날라리|gashi...
view_count                                                     1872964
likes                                                           263770
dislikes                                                          2469
comment_count                                                    13262
comments_disabled                                                False
ratings_disabled                                                 False
description          [MV] 선미(SUNMI) - 꼬리(TAIL) 뮤직비디오⠀💿 선미(SUNMI) - ...
category_name                                                    Music
tag_num                                                             30
Name: 35348, dtype: object

In [ ]:
print(df.loc[35149])
print(df.loc[35349])

video_id                                                   RxqWnkFBP9Y
title                아이오닉5 실제 모습, 확실하게 보여(들려)드려요...(죄송해서 후딱 만든 영상. ...
publishedAt                                        2021-02-23 10:24:45
channelId                                     UCT29dZNPg6exiMyMrVLL0fg
channelTitle                                           mediaAUTO 미디어오토
trending_date                                      2021-02-24 00:00:00
tags                 장진택|자동차|영상|미디어오토|mediaAUTO|유은익|개그|코미디|진지|엄숙|CA...
view_count                                                      243686
likes                                                             3322
dislikes                                                           121
comment_count                                                      670
comments_disabled                                                False
ratings_disabled                                                 False
description          #아이오닉5 #ioniq5 #egmp오늘 오후4시에 진행한 아이오닉5 신차공개 라이...
category_name                                         Autos & Vehicles
tag_num                                                             34
Name: 35149, dtype: object
video_id                                                   RxqWnkFBP9Y
title                아이오닉5 실제 모습, 확실하게 보여(들려)드려요...(죄송해서 후딱 만든 영상. ...
publishedAt                                        2021-02-23 10:24:45
channelId                                     UCT29dZNPg6exiMyMrVLL0fg
channelTitle                                           mediaAUTO 미디어오토
trending_date                                      2021-02-24 00:00:00
tags                 장진택|자동차|영상|미디어오토|mediaAUTO|유은익|개그|코미디|진지|엄숙|CA...
view_count                                                      243686
likes                                                             3322
dislikes                                                           121
comment_count                                                      670
comments_disabled                                                False
ratings_disabled                                                 False
description          #아이오닉5 #ioniq5 #egmp오늘 오후4시에 진행한 아이오닉5 신차공개 라이...
category_name                                         Autos & Vehicles
tag_num                                                             34
Name: 35349, dtype: object

In [ ]:
df[df['trending_date']==trend['trending_date'][2]].head()

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
53341,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-05-31 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1195225,12256,367,5858,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
53342,prdGLBNqATk,[라디오스타] 싱크로율 100% 완벽 카피 성대모사 장인! 쓰복만의 1인 n역 성대...,2021-05-28 04:00:30,UCiwQRG2sCcfjKkgxMEdJGPg,엠뚜루마뚜루 : MBC 공식 종합 채널,2021-05-31 00:00:00,쓰복만|성대모사|복만쓰|펜트하우스|주단태|하은별|스카이캐슬|부부의세계|김국진|김구라...,3799515,51078,1218,4486,False,False,[라디오스타] 수요일 밤 10시 30분 방송!MBC의 따끈따끈한 영상을 내 맘대로 ...,Entertainment,22
53343,mYITh9E43s8,어몽어스 VR좀비2(SCP) 8화 [어몽어스 애니메이션] / [AMONG US AN...,2021-05-30 04:00:12,UCZ0dIs-Ao2v8eZF4WOYH5uw,썰레임 Ssuleim,2021-05-31 00:00:00,어몽어스애니메이션|어몽어스애니|어몽어스좀비|VR좀비|쎌레임|설레임|사이다툰|amon...,320245,7291,166,7261,False,False,어몽어스 애니메이션 VR좀비2 (SCP) 8화 입니다!기다려주셔서 감사합니다! VR...,Comedy,13
53344,YLXfyHsfFz0,BTS (방탄소년단) 'Butter' Official MV (Hotter Remix),2021-05-28 04:00:02,UC3IZKseVpdzPSBaWxBxundA,HYBE LABELS,2021-05-31 00:00:00,BIGHIT|빅히트|방탄소년단|BTS|BANGTAN|방탄,32648517,4769505,27428,309902,False,False,BTS (방탄소년단) 'Butter' Official MV (Hotter Remix...,Music,6
53345,8b9WiId0gMw,[안방1열 직캠4K] 에스파 'Next Level' 풀캠 (aespa Full Ca...,2021-05-30 07:36:35,UCS_hnpJLQTvBkqALgapi_4g,스브스케이팝 / SBS KPOP,2021-05-31 00:00:00,Inkigayo|인기가요직캠|안방1열직캠|에스파|aespa|카리나|지젤|윈터|닝닝|...,667119,35740,599,1713,False,False,[안방1열 직캠4K] 에스파 'Next Level' 풀캠 (aespa Full Ca...,Entertainment,17

In [ ]:
df.iloc[range(53341, 53341+2)]

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
53341,q5KDJqPqzP8,[20/21 UCL 결승] 맨시티 vs 첼시 H/L,2021-05-30 05:00:24,UCtm_QoN2SIxwCE-59shX7Qg,SPOTV,2021-05-31 00:00:00,SPOTV|스포티비|맨시티|첼시|맨체스터시티|펩과르디올라|투헬|하베르츠|마운트|아구...,1195225,12256,367,5858,False,False,맨체스터 시티 vs 첼시 경기 하이라이트,Sports,17
53342,prdGLBNqATk,[라디오스타] 싱크로율 100% 완벽 카피 성대모사 장인! 쓰복만의 1인 n역 성대...,2021-05-28 04:00:30,UCiwQRG2sCcfjKkgxMEdJGPg,엠뚜루마뚜루 : MBC 공식 종합 채널,2021-05-31 00:00:00,쓰복만|성대모사|복만쓰|펜트하우스|주단태|하은별|스카이캐슬|부부의세계|김국진|김구라...,3799515,51078,1218,4486,False,False,[라디오스타] 수요일 밤 10시 30분 방송!MBC의 따끈따끈한 영상을 내 맘대로 ...,Entertainment,22

In [ ]:
k = 53341
for i in range(18):
  df = df.drop(labels=range(k, k+200), axis=0)
  k=k+400
  print('%d번째 trending_date의 중복값을 없앴습니다.'%i)

0번째 trending_date의 중복값을 없앴습니다.
1번째 trending_date의 중복값을 없앴습니다.
2번째 trending_date의 중복값을 없앴습니다.
3번째 trending_date의 중복값을 없앴습니다.
4번째 trending_date의 중복값을 없앴습니다.
5번째 trending_date의 중복값을 없앴습니다.
6번째 trending_date의 중복값을 없앴습니다.
7번째 trending_date의 중복값을 없앴습니다.
8번째 trending_date의 중복값을 없앴습니다.
9번째 trending_date의 중복값을 없앴습니다.
10번째 trending_date의 중복값을 없앴습니다.
11번째 trending_date의 중복값을 없앴습니다.
12번째 trending_date의 중복값을 없앴습니다.
13번째 trending_date의 중복값을 없앴습니다.
14번째 trending_date의 중복값을 없앴습니다.
15번째 trending_date의 중복값을 없앴습니다.
16번째 trending_date의 중복값을 없앴습니다.
17번째 trending_date의 중복값을 없앴습니다.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133941 entries, 0 to 137540
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           133941 non-null  object
 1   title              133941 non-null  object
 2   publishedAt        133941 non-null  object
 3   channelId          133941 non-null  object
 4   channelTitle       133941 non-null  object
 5   trending_date      133941 non-null  object
 6   tags               133941 non-null  object
 7   view_count         133941 non-null  int64
 8   likes              133941 non-null  int64
 9   dislikes           133941 non-null  int64
 10  comment_count      133941 non-null  int64
 11  comments_disabled  133941 non-null  bool
 12  ratings_disabled   133941 non-null  bool
 13  description        130470 non-null  object
 14  category_name      133941 non-null  object
 15  tag_num            133941 non-null  int64
dtypes: bool(2), int64(5), object(9)
memory usage: 15.6+ MB

In [ ]:
df[df['trending_date']==trend['trending_date'][1]].head()

,video_id,title,publishedAt,channelId,channelTitle,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,category_name,tag_num
36348,NfmZC0SfB-s,(Eng Sub) 5천 원 들고 치킨집 앞을 서성이던 형제.. 사장은 단번에 알아...,2021-02-28 11:37:48,UCYRrUD5v5j_Ei8sKOo7mhoQ,엠빅뉴스,2021-03-02 00:00:00,감동|치킨|형제|철인7호|홍대|편지|프랜차이즈|돈쭐|좌표|감사,2806559,44133,347,14429,False,False,The brothers who were wandering in front of th...,News & Politics,10
36349,2LnCaecCDd0,[아이유의 팔레트] '빛나는 팔레트' (With 샤이니) Ep.5,2021-02-27 09:00:01,UC3SyT4_WLHzN7JmHQwKQZww,이지금 [IU Official],2021-03-02 00:00:00,IU|아이유|이담|EDAM|이지금|dlwlrma|아이유tv|아티비|아이유티비|아이유...,2447407,167992,516,15491,False,False,[IU's Palette] A SHINee-ing Palette (With SHIN...,Entertainment,55
36350,eBAyVOb4KAA,'베일이 돌아왔다! 2골 1도움 기록' 토트넘 vs 번리 하이라이트 #SPORTSTIME,2021-02-28 16:39:06,UCnXNukjRxXGD8aeZGRV-lYg,스포츠타임,2021-03-02 00:00:00,오늘의타임|스포츠타임|코리안타임|코리안리거|손흥민|2도움|손베듀오|해외축구|프리미어...,1579467,6087,212,3445,False,False,이 경기 풀영상은 SPOTV NOW에서 시청하실 수 있습니다.https://www....,Sports,12
36351,rw80GIrCrxk,임영웅 보라빛엽서 경연전날 #Shorts,2021-03-01 07:50:52,UCpH3rUuBQH9CkjXRumRWZIQ,임영웅 Shorts,2021-03-02 00:00:00,임영웅|영웅,204366,15327,90,2385,False,False,#Shorts #임영웅 #limyoungwoong미스터트롯 보라빛 엽서 경연전날,People & Blogs,2
36352,Q3FGUs0c3FQ,KTX서 햄버거 못 먹게 말리자…감히 아빠가 누군지 알고 / JTBC 뉴스룸,2021-03-01 12:28:07,UCsU-I-vHLiaMfV_ceaYz5rQ,JTBC News,2021-03-02 00:00:00,JTBC|JTBC NEWS|뉴스|뉴스룸|손석희|newsroom|sohnsukhee|...,908398,3312,105,7998,False,False,지금 코로나19 때문에 ktx 열차 안에선 음식물을 먹어선 안 됩니다. 그런데 어제...,News & Politics,26

In [ ]:
df = df.drop(labels=range(35148, 35148+200), axis=0)
df = df.drop(labels=range(36348, 36348+200), axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133541 entries, 0 to 137540
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           133541 non-null  object
 1   title              133541 non-null  object
 2   publishedAt        133541 non-null  object
 3   channelId          133541 non-null  object
 4   channelTitle       133541 non-null  object
 5   trending_date      133541 non-null  object
 6   tags               133541 non-null  object
 7   view_count         133541 non-null  int64
 8   likes              133541 non-null  int64
 9   dislikes           133541 non-null  int64
 10  comment_count      133541 non-null  int64
 11  comments_disabled  133541 non-null  bool
 12  ratings_disabled   133541 non-null  bool
 13  description        130073 non-null  object
 14  category_name      133541 non-null  object
 15  tag_num            133541 non-null  int64
dtypes: bool(2), int64(5), object(9)
memory usage: 15.5+ MB

In [ ]:
df.to_csv("/content/drive/MyDrive/EDA/data0712/youtube_nodouble.csv")

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/EDA/data0712/youtube_nodouble.csv",lineterminator='\n')

In [ ]:
df_old = pd.read_csv("/content/drive/MyDrive/EDA/data0712/youtube_0717.csv",lineterminator='\n')

In [ ]:
df_old.shape

(137541, 16)

In [ ]:
df.shape

(133541, 17)

In [ ]:
df_trending_date = df.groupby('trending_date')['video_id','publishedAt'].count()

df_trending_date['trending_date'] = df_trending_date.index
trend_new = df_trending_date.reset_index(drop=True)
trend = trend_new[trend_new['video_id']>200][['trending_date','video_id']]
len(trend)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

0

In [ ]:
df_unique = pd.DataFrame(columns = ['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'trending_date', 'tags', 'view_count', 'likes', 'dislikes',
       'comment_count', 'description', 'category_name', 'tag_num', 'period'])
#period 열을 추가!

for i in range(len(df['video_id'].unique())):
  df_unique = df_unique.append(df[df['video_id']==df['video_id'].unique()[i]].tail(1), ignore_index=True)
  df_unique['period'][i] = len(df[df['video_id']==df['video_id'].unique()[i]])
  #가장 아래에 있는 행, 즉 최신 행으로 update

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_unique.to_csv('/content/drive/MyDrive/EDA/data0712/youtube_nodouble_unique.csv',index=False)