# Package

In [2]:
import numpy as np
import pandas as pd
import datetime

# src

- 구현해야 하는 기능이나 함수, class 등을 포함하여 학습할 내용을 작성해주시면 됩니다.
- 다만 과정에 있어서 난수를 발생시키거나 initialization할 때 공통된 결과를 위해서 seed나 random state는 고정해주시면 좋을 것 같아요!

In [3]:
def date_parsing(x: pd.DataFrame):
    result = None
    np.random.seed(0)
    
    ##############################################################################################
    # 여기에 ~~~기능을 작성하시면 됩니다.
    ##############################################################################################
    
    date = x['date']
    result = pd.to_datetime(date)
    
    ##############################################################################################
    
    return result

# Test(Option)

- 추후에 답안 제공시 아래와 같은 예시를 사용하셔도 좋습니다.
- 이 부분에 대해선 자유롭게 작성하셔도 좋습니다!
- 마지막에 세션, 과제에 따라 다르긴하지만 최종 점수로 환산해주는 과정이 있으면 좋을 것 같아요!

In [4]:
def test(raw, submit):
    ##############################################################################################
    # 여기에 답안을 작성하시면 됩니다.
    ##############################################################################################
    
    date = raw['date']
    answer = pd.to_datetime(date)
    
    ##############################################################################################
    # 점수로 환산하는 코드 (상황에 따라 변형하여 작성해주세요!)
    ##############################################################################################
    
    result = answer == submit
    print(f"Score : {result.sum()/len(result)*100}")

# Implementation

## Data

In [5]:
raw = pd.read_csv('data/flights.csv')
raw.head()

,travelCode,userCode,from,to,flightType,price,time,distance,agency,date
0,0,0,Recife (PE),Florianopolis (SC),firstClass,1434.38,1.76,676.53,FlyingDrops,09/26/2019
1,0,0,Florianopolis (SC),Recife (PE),firstClass,1292.29,1.76,676.53,FlyingDrops,09/30/2019
2,1,0,Brasilia (DF),Florianopolis (SC),firstClass,1487.52,1.66,637.56,CloudFy,10/03/2019
3,1,0,Florianopolis (SC),Brasilia (DF),firstClass,1127.36,1.66,637.56,CloudFy,10/04/2019
4,2,0,Aracaju (SE),Salvador (BH),firstClass,1684.05,2.16,830.86,CloudFy,10/10/2019

## main

In [6]:
datetimes = date_parsing(raw)
test(raw, datetimes)

Score : 100.0