In [29]:
import numpy as np
import requests
from bs4 import BeautifulSoup

In [27]:
url = 'https://land.naver.com/news/trendReport.naver'

response = requests.get(url)

titles=[]

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    for i in np.arange(2, 20):
        title = soup.select_one('#content > div.section_tbl.NE\=a\:lst > table > tbody > tr:nth-child({}) > td.txt > a'.format(i))
        print(title)
        titles.append(title.get_text())
else : 
    print(response.status_code)

<a class="NPI=a:title,r:2,i:1704" href="/news/trendReportView.naver?artcl_seq=1704&amp;artcl_tp_cd=01&amp;page=">[7월2주 전국] 전국-0.07%, 서울-0.08%, 수도권-0.10%</a>
<a class="NPI=a:title,r:3,i:1703" href="/news/trendReportView.naver?artcl_seq=1703&amp;artcl_tp_cd=01&amp;page=">[7월1주 전국] 전국 0.01%, 서울 0.05%, 수도권-0.01%</a>
<a class="NPI=a:title,r:4,i:1702" href="/news/trendReportView.naver?artcl_seq=1702&amp;artcl_tp_cd=01&amp;page=">[6월4주 전국] 전국 0.07%, 서울-0.02%, 수도권-0.01%</a>
<a class="NPI=a:title,r:5,i:1701" href="/news/trendReportView.naver?artcl_seq=1701&amp;artcl_tp_cd=01&amp;page=">[6월3주 전국] 전국 0.00%, 서울 0.09%, 수도권 0.01%</a>
<a class="NPI=a:title,r:6,i:1700" href="/news/trendReportView.naver?artcl_seq=1700&amp;artcl_tp_cd=01&amp;page=">[6월2주 전국] 전국 0.01%, 서울 0.06%, 수도권 0.02%</a>
<a class="NPI=a:title,r:7,i:1699" href="/news/trendReportView.naver?artcl_seq=1699&amp;artcl_tp_cd=01&amp;page=">[6월1주 전국] 전국 0.04%, 서울 0.05%, 수도권 0.02%</a>
<a class="NPI=a:title,r:8,i:1698" href="/news/trendReportView.naver?artcl_seq=1698&amp;artcl_tp_cd=01&amp;page=">[5월4주 전국]전국 0.00%, 서울 -0.03%, 수도권 0.00%</a>
<a class="NPI=a:title,r:9,i:1697" href="/news/trendReportView.naver?artcl_seq=1697&amp;artcl_tp_cd=01&amp;page=">[5월3주 전국] 전국 0.01%, 서울 0.07%, 수도권 0.03%</a>
<a class="NPI=a:title,r:10,i:1696" href="/news/trendReportView.naver?artcl_seq=1696&amp;artcl_tp_cd=01&amp;page=">[5월2주 전국] 전국 0.02%, 서울 0.00%, 수도권 0.02%</a>
<a class="NPI=a:title,r:11,i:1695" href="/news/trendReportView.naver?artcl_seq=1695&amp;artcl_tp_cd=01&amp;page=">[5월1주 전국] 전국 0.03%, 서울 0.06%, 수도권 0.02%</a>
<a class="NPI=a:title,r:12,i:1694" href="/news/trendReportView.naver?artcl_seq=1694&amp;artcl_tp_cd=01&amp;page=">[4월4주 전국] 전국 0.06%, 서울 0.07%, 수도권 0.05%</a>
<a class="NPI=a:title,r:13,i:1693" href="/news/trendReportView.naver?artcl_seq=1693&amp;artcl_tp_cd=01&amp;page=">[4월3주 전국] 전국 0.06%, 서울 0.14%, 수도권 0.08%</a>
<a class="NPI=a:title,r:14,i:1692" href="/news/trendReportView.naver?artcl_seq=1692&amp;artcl_tp_cd=01&amp;page=">[4월2주 전국] 전국 0.11%, 서울 0.08%, 수도권 0.11%</a>
<a class="NPI=a:title,r:15,i:1691" href="/news/trendReportView.naver?artcl_seq=1691&amp;artcl_tp_cd=01&amp;page=">[4월1주 전국] 전국 0.06%, 서울 0.10%, 수도권 0.07%</a>
<a class="NPI=a:title,r:16,i:1690" href="/news/trendReportView.naver?artcl_seq=1690&amp;artcl_tp_cd=01&amp;page=">[3월5주 전국] 전국 0.03%, 서울 0.01%, 수도권 0.02%</a>
<a class="NPI=a:title,r:17,i:1689" href="/news/trendReportView.naver?artcl_seq=1689&amp;artcl_tp_cd=01&amp;page=">[3월4주 전국]전국 0.02%, 서울 -0.03%, 수도권 0.01%</a>
<a class="NPI=a:title,r:18,i:1688" href="/news/trendReportView.naver?artcl_seq=1688&amp;artcl_tp_cd=01&amp;page=">[3월3주 전국] 전국 0.04%, 서울 0.06%, 수도권 0.04%</a>
<a class="NPI=a:title,r:19,i:1687" href="/news/trendReportView.naver?artcl_seq=1687&amp;artcl_tp_cd=01&amp;page=">[3월2주 전국] 전국 0.01%, 서울 0.04%, 수도권 0.01%</a>

In [28]:
print(titles)

['[7월2주 전국] 전국-0.07%, 서울-0.08%, 수도권-0.10%', '[7월1주 전국] 전국 0.01%, 서울 0.05%, 수도권-0.01%', '[6월4주 전국] 전국 0.07%, 서울-0.02%, 수도권-0.01%', '[6월3주 전국] 전국 0.00%, 서울 0.09%, 수도권 0.01%', '[6월2주 전국] 전국 0.01%, 서울 0.06%, 수도권 0.02%', '[6월1주 전국] 전국 0.04%, 서울 0.05%, 수도권 0.02%', '[5월4주 전국]전국 0.00%, 서울 -0.03%, 수도권 0.00%', '[5월3주 전국] 전국 0.01%, 서울 0.07%, 수도권 0.03%', '[5월2주 전국] 전국 0.02%, 서울 0.00%, 수도권 0.02%', '[5월1주 전국] 전국 0.03%, 서울 0.06%, 수도권 0.02%', '[4월4주 전국] 전국 0.06%, 서울 0.07%, 수도권 0.05%', '[4월3주 전국] 전국 0.06%, 서울 0.14%, 수도권 0.08%', '[4월2주 전국] 전국 0.11%, 서울 0.08%, 수도권 0.11%', '[4월1주 전국] 전국 0.06%, 서울 0.10%, 수도권 0.07%', '[3월5주 전국] 전국 0.03%, 서울 0.01%, 수도권 0.02%', '[3월4주 전국]전국 0.02%, 서울 -0.03%, 수도권 0.01%', '[3월3주 전국] 전국 0.04%, 서울 0.06%, 수도권 0.04%', '[3월2주 전국] 전국 0.01%, 서울 0.04%, 수도권 0.01%']

In [38]:
len(titles)

18

In [42]:
print(titles[0][1:5], titles[0][10:18], titles[0][20:29], titles[0][30:39])

7월2주 전국-0.07% 서울-0.08%, 수도권-0.10%

In [70]:
import pandas as pd

data = pd.DataFrame()
print(data)

Empty DataFrame
Columns: []
Index: []

In [52]:
time = []
for i in np.arange(0, 18):
    time.append(titles[i][1:5])
print(time)

['7월2주', '7월1주', '6월4주', '6월3주', '6월2주', '6월1주', '5월4주', '5월3주', '5월2주', '5월1주', '4월4주', '4월3주', '4월2주', '4월1주', '3월5주', '3월4주', '3월3주', '3월2주']

In [65]:
national = []
for i in np.arange(0, 18):
    national.append(titles[i][12:17])
print(national)

['-0.07', ' 0.01', ' 0.07', ' 0.00', ' 0.01', ' 0.04', '0.00%', ' 0.01', ' 0.02', ' 0.03', ' 0.06', ' 0.06', ' 0.11', ' 0.06', ' 0.03', '0.02%', ' 0.04', ' 0.01']

In [67]:
seoul = []
for i in np.arange(0, 18):
    seoul.append(titles[i][22:29])
print(seoul)

['-0.08%,', ' 0.05%,', '-0.02%,', ' 0.09%,', ' 0.06%,', ' 0.05%,', '-0.03%,', ' 0.07%,', ' 0.00%,', ' 0.06%,', ' 0.07%,', ' 0.14%,', ' 0.08%,', ' 0.10%,', ' 0.01%,', '-0.03%,', ' 0.06%,', ' 0.04%,']

In [69]:
sudo = []
for i in np.arange(0, 18):
    sudo.append(titles[i][33:39])
print(sudo)

['-0.10%', '-0.01%', '-0.01%', ' 0.01%', ' 0.02%', ' 0.02%', ' 0.00%', ' 0.03%', ' 0.02%', ' 0.02%', ' 0.05%', ' 0.08%', ' 0.11%', ' 0.07%', ' 0.02%', ' 0.01%', ' 0.04%', ' 0.01%']

In [77]:
df = {'time':time, 'natinal':national, 'seoul':seoul, 'sudo':sudo}

In [78]:
data = pd.DataFrame(df)

In [79]:
data

    time natinal    seoul    sudo
0   7월2주   -0.07  -0.08%,  -0.10%
1   7월1주    0.01   0.05%,  -0.01%
2   6월4주    0.07  -0.02%,  -0.01%
3   6월3주    0.00   0.09%,   0.01%
4   6월2주    0.01   0.06%,   0.02%
5   6월1주    0.04   0.05%,   0.02%
6   5월4주   0.00%  -0.03%,   0.00%
7   5월3주    0.01   0.07%,   0.03%
8   5월2주    0.02   0.00%,   0.02%
9   5월1주    0.03   0.06%,   0.02%
10  4월4주    0.06   0.07%,   0.05%
11  4월3주    0.06   0.14%,   0.08%
12  4월2주    0.11   0.08%,   0.11%
13  4월1주    0.06   0.10%,   0.07%
14  3월5주    0.03   0.01%,   0.02%
15  3월4주   0.02%  -0.03%,   0.01%
16  3월3주    0.04   0.06%,   0.04%
17  3월2주    0.01   0.04%,   0.01%